.markerTitle {

	font-size : 20px;
	width : 98%;
	margin-left : 1.5%;
	padding : 3%;
}

.markerContent {

	font-size : 14px;
	width : 100%;
	padding : 5%;
}

#incident {

	background-color : red;
}

#work{
	background-color : orange;
}

#jam {
	background-color : gray;
}
