$active-color: #BDC3C7;
$alert-color: #C0392B;
$base-color: #2C3E50;
$base-gradient: 'flat';
$neutral-color : #34495E;
$page-bg-color: #ECF0F1;


// Buttons
$button-gradient: 'flat';
$button-bg-color : #1ABC9C;

//Forms
$form-bg-color : #ECF0F1;
$form-field-bg-color : #ECF0F1;
$light-tab-color : #fff;
$light-tab-active : #95A5A6;

// Lists
$list-bg-color: #eee;
$list-color: #333;
$list-pressed-color: #ddd;
$list-active-gradient: 'flat';
$list-header-bg-color: #999;
$list-header-gradient: 'flat';

// Tabs
$tabs-dark-color: #2C3E50;
$tabs-dark-active-color : #fff;

//Toolbar
$toolbar-gradient : 'flat';
$toolbar-input-bg : #E74C3C;

$confirm-color : #27AE60;
$alert-color : #E74C3C;


@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
@include sencha-draw;
@include sencha-charts;


@include sencha-form-sliders;


@include sencha-button-ui('flat-turquoise',#1ABC9C,'flat');
@include sencha-button-ui('flat-greensea',#16A085,'flat');
@include sencha-button-ui('flat-emerald',#2ECC71,'flat');
@include sencha-button-ui('flat-nephritis',#27AE60,'flat');
@include sencha-button-ui('flat-peterriver',#3498DB,'flat');
@include sencha-button-ui('flat-belizehole',#2980B9,'flat');
@include sencha-button-ui('flat-amethyst',#9B59B6,'flat');
@include sencha-button-ui('flat-wisteria',#8E44AD,'flat');
@include sencha-button-ui('flat-wetasphalt',#34495E,'flat');
@include sencha-button-ui('flat-midnightblue',#2C3E50,'flat');
@include sencha-button-ui('flat-sunflower',#F1C40F,'flat');
@include sencha-button-ui('flat-orange',#F39C12,'flat');
@include sencha-button-ui('flat-carrot',#E67E22,'flat');
@include sencha-button-ui('flat-pumpkin',#D35400,'flat');
@include sencha-button-ui('flat-alizarin',#E74C3C,'flat');
@include sencha-button-ui('flat-pomegranate',#C0392B,'flat');
@include sencha-button-ui('flat-clouds',#ECF0F1,'flat');
@include sencha-button-ui('flat-silver',#BDC3C7,'flat');
@include sencha-button-ui('flat-concrete',#95A5A6,'flat');
@include sencha-button-ui('flat-asbestos',#7F8C8D,'flat');

@include sencha-button-ui('action', $active-color);
@include sencha-button-ui('confirm', $confirm-color);
@include sencha-button-ui('decline', $alert-color);
