.popupMarker {
	background: transparent !important;
	box-shadow: none !important;
}

.popupMarker:before {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 50%;
	margin-left: -10px;
	display: block;
	width: 20px;
	height: 20px;
	background: #000;
	-webkit-transform: rotate(-45deg);
	border-radius: 2px;
}


.popupMarker .x-panel-body {
	background: #000 !important;
	color: #fff !important !important;
	text-align: center !important;
	padding-bottom: 5px;
}


.popupMarker .x-panel-body .x-html {
	padding: 0 !important;
}

.popupMarker .popupTitle, .popupDescription {
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 5px;
}

.popupMarker .popupTitle {
	font-size: 14px;
}

.popupMarker .popupDescription {
	font-size: 11px;
}

#incident {
	background-color : red;
}

#work{
	background-color : orange;
}

#jam {
	background-color : gray;
}
